@import "tailwindcss";
@import "../../../packages/ui/src/styles/globals.css";

@source "../../../packages/ui/src/**/*.tsx";

body {
  font-family: var(--font-inter), system-ui, sans-serif;
  background: #f5f7fb;
}
/* Minimal Scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #9ca3af;
    /* gray-400 */
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
    /* gray-500 */
}
